<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">
<h:head>
    <title>Branch</title>
</h:head>
<h:body>
    <h:outputStylesheet name="style.css" library="css"/>
    <div id="container">
        <h1>Hello Empired!</h1>
        <h:form id="mainForm">
        <h:panelGroup rendered="#{features['TALKING_FEATURE']}"> 
            <h:panelGrid columns="2">
                <h:outputLabel for="name" value="Please enter your name and click 'Say hello': "/>
                <h:inputText id="name" value="#{helloWorld.name}" required="true"/>
                <h:messages showDetail="true" showSummary="false"/>
                <h:commandButton value="Say hello" action="#{helloWorld.send}"/>
            </h:panelGrid>
        </h:panelGroup>
        </h:form>
    </div>    
    <div>
        <h:panelGroup rendered="#{features['ADMIN_FEATURE']}">
          <p>
            <a href="togglz/">Admin Console</a>
         </p>
        </h:panelGroup>
    </div>
    
</h:body>
</html>
